<div class="container">
  <div class="imageContainer">
    <img src="./../../../assets/images/echoelogo_NqK_icon.ico" alt="">
  </div>
  <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm.value)">
    <div class="formContainer">
      <h1>Register</h1>
      <hr>
      <br>

      <label for="email"><b>Email</b></label>
      <input ngModel type="text" placeholder="John@gmail.com" name="email" required>

      <label for="name"><b>Name</b></label>
      <input ngModel type="text" placeholder="John" name="name" required>

      <label for="username"><b>Username</b></label>
      <input ngModel type="text" placeholder="John123" name="username" required>

      <label for="password"><b>Password</b></label>
      <input ngModel type="password" placeholder="Repeat Password" name="password" required>
      <hr>

      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  </form>
</div>
