    body {
      margin: 0;
      padding: 0;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    .error {
      color: red;
    }

    .success {
      color: green;
    }

    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-thumb {
      background: linear-gradient(#f6fbff, rgb(80, 157, 246));
      border-radius: 10px;
    }

    .container {
      display: grid;
      grid-template-columns: 50px repeat(3, 1fr);
      grid-template-rows: 40px repeat(3, auto);
      grid-template-areas: "navbar mainContent mainContent mainContent""navbar mainContent mainContent mainContent""navbar mainContent mainContent mainContent""navbar mainContent mainContent mainContent";
      width: 100%;
      height: 100vh;
    }

    /* #region modal css */

    .mainContent {
      grid-area: mainContent;
      padding: 50px;
      background: rgba(169, 218, 255, 0.1);
      color: #004f8b;
    }

    .modal {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      color: #17252a;
      position: fixed;
      z-index: 1;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 14px;
    }

    .modal .modal-content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      grid-row-gap: 5px;
      background-color: white;
      border-radius: 5px;
      padding: 15px;
      margin: 5% auto;
      width: 50%;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
      animation-name: animateIn;
      animation-duration: 1.0s
    }

    /* #region Modal Header Section */

    .modal .modal-content .modalHeader {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
      grid-column: 1;
      grid-row: 1;
      text-align: right;
    }

    .modal .modal-content .modalHeader a {
      grid-column: 12/13;
      justify-self: end;
      color: black;
      cursor: pointer;
      overflow: auto;
    }

    .modal .modal-content .modalHeader a i {
      font-size: 18px;
    }

    /* #endregion */

    /* #region Modal Content Section */

    .modal .modal-content .modalContent {
      display: grid;
      grid-template-columns: 30px 1fr;
      grid-template-rows: 20px 1fr 20px 40px 20px 30px 40px;
      grid-row-gap: 15px;
      grid-column: 1;
      grid-row: 2;
    }

    .labelMessage,
    .labelSpread,
    .labelDuration {
      line-height: 24px;
      display: inline-block;
      vertical-align: middle;
    }

    .labelMessageInfoButton {
      grid-column: 1;
      grid-row: 1;
    }

    .labelMessage {
      grid-column: 2/-1;
      grid-row: 1;
    }

    .addPostMessage {
      grid-column: 1/-1;
      grid-row: 2;
      border: 0.5px solid rgba(0, 0, 0, 0.1);
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 12px;
      resize: none;
    }

    .labelSpreadInfoButton {
      grid-column: 1;
      grid-row: 3;
    }

    .labelSpread {
      grid-column: 2/-1;
      grid-row: 3;
    }

    .infoButton {
      color: #79c5ff;
      float: left;
    }

    .spreadRadioButtons {
      grid-column: 1/-1;
      grid-row: 4;
    }

    .durationRadioButtons {
      grid-column: 1/-1;
      grid-row: 6;
    }

    .labelDurationInfoButton {
      grid-column: 1;
      grid-row: 5;
    }

    .labelDuration {
      grid-column: 2/-1;
      grid-row: 5;
    }

    .modalContent h2 {
      grid-column: 1/-1;
      grid-row: 1;
      font-size: 32px;
      margin: 0;
    }

    .modalContent h3 {
      grid-column: 1/-1;
      grid-row: 2;
      font-size: 18px;
      margin: 0;
    }

    /* Add Animation */

    @keyframes animateIn {
      from {
        opacity: 0
      }

      to {
        opacity: 1
      }
    }

    /* #endregion */

    /* #region Modal Footer Section */

    .modal .modal-content .modalFooter {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-column: 1;
      grid-row: 3;
    }

    .submit {
      background-color: #004f8b;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 4px 5px;
      text-align: center;
      cursor: pointer;
    }

    .submit:hover {
      background-color: #0065b3;
      transition: 0.5s;
    }

    /* #endregion */

    /* #region Media Queries */

    @media(max-width:479px) {
      .modal .modal-content {
        width: 85%;
      }
    }

    /* #endregion */

    /* #endregion  */

    /* #region tooltip css */

    .tooltip {
      position: relative;
      display: inline-block;
    }

    /* Tooltip text */

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: rgb(0, 0, 0, 0.6);
      color: #fff;
      text-align: center;
      padding: 3px 0;
      border-radius: 3px;
      position: absolute;
      z-index: 1;
      top: 13px;
      left: 105%;
      border: 0.5px solid #565656;
      opacity: 0;
      transition: opacity 1s;
    }

    /* Show the tooltip text when you mouse over the tooltip container */

    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

    /* tooltip top text */

    .tooltip .tooltipToptext {
      visibility: hidden;
      width: 150px;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      border-radius: 6px;
      padding: 5px 5px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 10%;
      margin-left: -32px;
      opacity: 0;
      transition: opacity 1s;
    }

    /* tooltip arrow that points the source where the tooltip is comming from */

    .tooltip .tooltipToptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -45px;
      border-width: 5px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
    }

    /* make tooltip visible on hover */

    .tooltip:hover .tooltipToptext {
      visibility: visible;
      opacity: 1;
    }

    /* #region Media Queries */

    /* #endregion */

    /* #endregion */

    @media(max-width:479px) {
      .tooltip .tooltiptext {
        visibility: collapse;
      }

      .tooltip:hover .tooltiptext {
        visibility: collapse;
      }

      .tooltip .tooltipToptext {
        visibility: collapse;
      }

      .tooltip:hover .tooltipToptext {
        visibility: collapse;
        opacity: 1;
      }
    }

    @media (max-width: 479px) {
      .mainContent {
        padding: 20px;
      }

      .container {
        grid-template-areas: "mainContent mainContent mainContent mainContent""mainContent mainContent mainContent mainContent""mainContent mainContent mainContent mainContent""mainContent mainContent mainContent mainContent";
      }
    }
