img {
  width: 100%;
}

.navbar {
  height: 100%;
  width: 50px;
  position: fixed;
  display: flex;
  flex-direction: column;
  /* background-color: #004f8b; */
  /* color: #022a49; */
  z-index: 1;
  color: white;
  bottom: 0;
  transition: 0.5s;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004f8b+0,5fa9e2+100 */
  background: #004f8b;
  /* background: -moz-linear-gradient(top, #004f8b 0%, #5fa9e2 100%);
  background: -webkit-linear-gradient(top, #004f8b 0%, #5fa9e2 100%);
  background: linear-gradient(to bottom, #004f8b 0%, #5fa9e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004f8b', endColorstr='#5fa9e2', GradientType=0); */
}

/* #region Navbar section */

.navbar a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  align-content: center;
  text-align: center;
  cursor: pointer;
}

.navbar a:hover {
  background-color: rgba(246, 251, 255, 0.2);
}

.navbar i {
  margin: 15px 0;
  font-size: 1.7em;
}

.active {
  background-color: rgba(246, 251, 255, 0.2);
}

.showNavbar {
  visibility: visible;
}

.hideNavbar {
  visibility: collapse;
}

@media (max-width: 479px) {
  .navbar {
    height: 50px;
    width: 100%;
    flex-direction: row;
    bottom: 0;
  }
}
