<div class="container">
  <div class="mainContent">
    <!-- filter section -->
    <div #filterBox class="filterBox">
      <div class="filterSearchBoxContainer">
        <span class="material-icons">search</span>
        <input class="filterSearchBox" type="text" placeholder="search..." [(ngModel)]="searchFilter" (keydown.enter)="search()">
      </div>
      <a id="addNewPost" class="addNewPost hvr-ripple-out" (click)="openModal()">
        <i class="material-icons">add</i>
      </a>
    </div>

    <!-- #region messages -->
    <div *ngFor="let message of messages">
      <div class="messageBox">
        <p class="messageContent" style="word-wrap: break-word;">
          {{message.content}}
        </p>
        <p class="messageDestination">
          {{message.destination}}, {{message.createdAt | date: 'dd.MM.yyyy'}}
        </p>
        <p class="messageComments">
          <a href="#">
            <i class="material-icons">
              chat
            </i>
          </a>
          <label>12</label>
        </p>
        <p class="messageLikes">
          <a href="#">
            <i class="material-icons">
              thumb_up
            </i>
          </a>
          <label>{{message.rating.likes}}</label>
        </p>
        <p class="messageDislikes">
          <a href="#">
            <i class="material-icons">
              thumb_down
            </i>
          </a>
          <label>{{message.rating.dislikes}}</label>
        </p>
        <p class="messageAttachment">
          <a href="#">
            <i class="material-icons">
              attach_file
            </i>
          </a>
          <label>12</label>
        </p>
      </div>
    </div>
    <!-- #endregion -->
  </div>
</div>

<div #addPostModal class="modal" style="display: none;">
  <div class="modal-content">
    <div class="modalHeader">
      <a (click)="closeModal()">
        <i class="material-icons">close</i>
      </a>
    </div>
    <form>
      <div class="modalContent">
        <!-- info buttons that display tooltip -->
        <label class="labelMessageInfoButton tooltip">
          <i class="material-icons infoButton">info</i>
          <span class="tooltipToptext">Message to send to the world</span>
        </label>
        <label class="labelSpreadInfoButton tooltip">
          <i class="material-icons infoButton">info</i>
          <span class="tooltipToptext">How wide do you want your message to spread?</span>
        </label>
        <label class="labelDurationInfoButton tooltip">
          <i class="material-icons infoButton">info</i>
          <span class="tooltipToptext">How long do you want your message to last?</span>
        </label>
        <!-- labels that stand next to the info buttons  -->
        <label class="labelMessage">
          Message
        </label>
        <label class="labelSpread">
          Spread
        </label>
        <label class="labelDuration">
          Duration
        </label>
        <!-- elements for user input and submiting -->
        <textarea class="addPostMessage" cols="30" rows="10"></textarea>
        <div class="spreadRadioButtons">
          <input type="radio" name="spread" value="5">
          <label>5km</label>
          <input type="radio" name="spread" value="10">
          <label>10km</label>
          <input type="radio" name="spread" value="20">
          <label>15km</label>
        </div>
        <div class="durationRadioButtons">
          <input type="radio" name="duration" value="5">
          <label>5 min</label>
          <input type="radio" name="duration" value="10">
          <label>10 min</label>
          <input type="radio" name="duration" value="20">
          <label>20 min</label>
          <input type="radio" name="duration" value="0">
          <label>Until deleted</label>
        </div>
      </div>
      <div class="modalFooter">
        <a class="submit">
          Spread
        </a>
      </div>
    </form>
  </div>
</div>
