/* #region MainContent section */

.messageBox {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30px 1fr 30px 30px;
  align-items: stretch;
  border: 1px solid rgba(132, 132, 132, 0.2);
  font-size: 14px;
  padding: 15px;
  margin: 30px 0;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
}

.messageBox p {
  margin: 0;
  padding: 0;
  color: #17252a;
}

.messageBox .messageContent {
  grid-column: 1/-1;
  grid-row: 2;
}

.messageBox .messageDestination {
  grid-column: 1/9;
  grid-row: 4;
  color: #004e63;
  font-size: 12px;
  margin-top: 15px;
}

.messageBox i {
  font-size: 1.5em;
  color: #003d6b;
}

.messageBox a {
  text-decoration: none;
}

.messageBox a i {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.messageBox a i:hover {
  color: #0083e6;
}

.messageBox label {
  font-size: 12px;
  color: #525252;
}

/* unique attributes for comments likes and dislikes */

.messageComments,
.messageLikes,
.messageDislikes,
.messageAttachment {
  align-self: center;
  grid-row: 4;
  text-align: center;
}

.messageBox .messageComments {
  grid-column: 9;
}

.messageBox .messageLikes {
  grid-column: 10;
}

.messageBox .messageDislikes {
  grid-column: 11;
}

.messageBox .messageAttachment {
  grid-column: 12;
}

.filterBox {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  transition: 0.5s;
}

.filterBox .filterSearchBoxContainer {
  grid-column: 1/4;
  position: relative;
}

.filterBox .filterSearchBoxContainer .material-icons {
  position: absolute;
  left: 0;
  margin: 5px 0 0 5px;
}

.filterBox .filterSearchBox {
  background-color: white;
  border: 1px solid rgba(132, 132, 132, 0.2);
  padding: 8px 8px 8px 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
}

.filterBox .addNewPost {
  grid-column: 12/13;
  display: inline-block;
  justify-self: end;
  background-color: #e96f0e;
  color: white;
  align-items: flex-start;
  text-align: center;
  border: none;
  width: 35px;
  border-radius: 100%;
  padding: 5px;
}

.filterBox .addNewPost:hover {
  background-color: #f18f42;
  transition: 0.5s;
  cursor: pointer;
}

.filterBox .addNewPost i {
  margin-top: 4px;
}

/* #endregion */

/* Ripple Out */

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e98030 solid 1px;
  border-radius: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.hvr-ripple-out:hover:before,
.hvr-ripple-out:focus:before,
.hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

/* #region Media Queries */

/* Larger displays */

@media (max-width: 991px) {
  .filterBox .filterSearchBoxContainer {
    grid-column: 1/5;
  }

  .messagebox .messageComments {
    grid-column: 9;
  }

  .messagebox .messageLikes {
    grid-column: 10;
  }

  .messagebox .messageDislikes {
    grid-column: 11;
  }

  .messageBox .messageAttachment {
    grid-column: 12;
  }
}

/* Tablets */

@media (max-width: 767px) {
  .filterBox .filterSearchBoxContainer {
    grid-column: 1/7;
  }
}

/* Phones */

@media (max-width: 479px) {
  .filterBox {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 50px;
    background-color: rgb(0, 79, 139);
    flex-direction: row;
  }

  .filterBox .filterSearchBoxContainer {
    justify-self: flex-start;
    align-self: center;
    margin: 5px;
    width: 70%;
  }

  .filterBox .filterSearchBox {
    padding: 10px 8px 10px 30px;
  }

  .filterBox .addNewPost {
    grid-column: 1/-1;
    grid-row: 1;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
    width: 30%;
    box-sizing: border-box;
    text-decoration: none;
    margin: 5px;
  }

  .filterBox .addNewPost i {
    display: none;
  }

  .filterBox .addNewPost::after {
    content: "New Post";
    text-decoration: none;
  }

  .messageBox .messageDestination {
    margin: 0;
    grid-row: 1;
    grid-column: 1/-1;
  }

  .messageBox {
    margin: 50px 0;
  }

  .messageBox .messageComments {
    grid-column: 1/4;
  }

  .messageBox .messageLikes {
    grid-column: 4/7;
  }

  .messageBox .messageDislikes {
    grid-column: 7/10;
  }

  .messageBox .messageAttachment {
    grid-column: 10/-1;
  }

  .hvr-ripple-out:before {
    border-radius: 5px;
  }
}

/* #endregion */
